
{% extends "navbar.html" %}sdfsdf{% load static %}

{% block content %}
<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">    
</head>
<body>

    <!-- formulario login -->



  <div class="card">
    <form id="frm-login" style="margin-top:10%;" method="POST" action="/loginAdmin">{% csrf_token %}


        <div class="container" style="max-width:700px !important">
          <div class="form-group row">
            <div class="col-sm-12">


            <div class="form-floating">
              <input type="input" name="username" class="form-control" id="floatingInput" placeholder="username" required/>
              <label for="floatingInput">Nombre de Usuario</label>

              <div class="form-floating">
                <input type="password"  name="password" class="form-control" id="floatingPassword" placeholder="Password" required/>
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-floating">
                <button type="submit" class="form-control btn btn-primary" value="sdfsdf">inciciar session</button>
              </div>

            </div>
            

          </div>
     
        </div>
      </form> 
      </div>
         
    <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>      
</body>
</html>
{% endblock %}